* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background: #19647E;
}

body * {
    box-sizing: border-box;
}

h1,
h4 {
    text-align: center;
    color: #FFFFFF;
}

.profile {
    display: inline-block;
}

.profile-div {
    width: 400px;
    height: 120px;
    padding-left: 20px;
    margin-top: 10px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.avtar-div {
    margin-left: 10px;
}

.container-parent {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: auto;
    width: auto;
    float: left;
}

.box_half {
    width: 50%;
    height: auto;
    float: left;
}

.demo-form fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
}

.update_notes {
    position: relative;
    width: auto;
    display: inline-block;
}

fieldset {
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
    width: auto;
    color: #FFFFFF;
}

.notes-notes {
    font-size: 20px;
    color: #FFFFFF;
}

.notes-text {
    width: 450px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid #576574;
}

.notes {
    padding-left: 10px;
    font-size: 20px;
    color: #FFFFFF;
}

.update_notes_button,
.delete_notes {
    margin: auto;
    height: 40px;
    width: 140px;
    text-align: center;
    font-size: 18px;
    background: #E56634;
    color: #FFFFFF;
    border: 2px solid #576574;
    border-radius: 12px;
}

.update_notes_button {
    margin-left: 10%;
    margin-right: 20px;
}

input[type=text] {
    color: #FFFFFF;
    font-size: 18px;
    border: 2px solid #FFFFFF;
}


/* Responsive Deisgn */

.container-parent {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.container-parent::before,
.container-parent::after {
    display: table;
    content: '';
}

.container-parent::after {
    clear: both;
}

.centered {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

.profile-div {
    color: #FFFFFF;
}


/* Mobile Defaults */

.centered {
    width: 100%;
}


/* Non Mobile Grid */

@media only screen and (min-width: 640px) {
    .centered {
        width: auto;
    }
}