* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: #CCE3DE;
    /* background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=962fdbcc8d5031658056ef47fded4b7b&auto=format&fit=crop&w=1650&q=80'); */
    font-family: 'Unica One', cursive;
}

h1,
h4 {
    text-align: center;
    color: #3d59528c;
}

.profile-parent {
    /* display: inline-block; */
    display: grid;
    grid-template-columns: 200px 20px;
    /* grid-row-gap: 2px; */
    border: solid 3px #3d59528c;
    width: 500px;
    margin-bottom: 10px;
    float: left;
}

.box_half {
    float: left;
    width: 50%;
}

.container {
    display: inline-block;
}

.profile-div {
    width: 250px;
    /* height: 120px; */
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.avtar-div {
    margin-left: 10px;
    margin-top: 5px;
}

.container-parent {
    /* margin-top: 20px; */
    margin-left: 30px;
    margin-right: auto;
    width: auto;
    float: left;
    /* border: solid 4px black; */
}

fieldset {
    /* padding: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0; */
    /* position: relative;*/
    /* display: inline-block; */
    /* padding-left: 700px;
    padding-top: -400px; */
    border: none;
    width: auto;
    color: #3d59528c;
    background-color: #F2EFEA;
}

.container {
    display: inline-block;
}

.notes-notes {
    font-size: 20px;
    color: #3d59528c;
    margin-left: 50%;
    background-color: #F2EFEA;
}

.notes-text {
    width: 450px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid black;
}

.notes {
    padding-left: 10px;
    font-size: 20px;
    color: #3d59528c;
    background-color: #F2EFEA;
}

.update_notes_button,
.delete_notes {
    margin: auto;
    height: 40px;
    width: 140px;
    text-align: center;
    font-size: 18px;
    background: #d6d2c7;
    color: #3d59528c;
    border: 2px solid #3d59528c;
    border-radius: 12px;
}

.update_notes_button {
    margin-left: 10%;
    margin-right: 20px;
}

input[type=text] {
    color: #3d59528c;
    font-size: 18px;
    border: 2px solid #3d59528c;
    background-color: #FCE8CA;
}

.update_notes {
    border: 3px solid #3d59528c;
    border-radius: 10px;
    margin-top: 60px;
    width: 490px;
    background-color: #F2EFEA;
}

form {
    background-color: #F2EFEA;
}

.notes-added {
    background-color: #F2EFEA;
}


/* Responsive Deisgn */


/* 
.container-parent {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.container-parent::before,
.container-parent::after {
    display: table;
    content: '';
}

.container-parent::after {
    clear: both;
} */


/* .centered {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
} */


/* 
.profile-div {
    color: #3d59528c;
} */


/* Mobile Defaults */


/* .centered {
    width: 100%;
} */


/* Non Mobile Grid */

@media only screen and (min-width: 640px) {
    .centered {
        width: auto;
    }
}