* {
    background: url('https://images.fabric.com/images/693/693/0339954.jpg');
    background-size: cover;
}

header {
    margin-top: 50px;
    text-align: center;
    color: #EEF5DB;
}

main {
    width: 350px;
    margin: 0 auto;
}

.col-1 {
    margin: auto;
    width: 400px;
    padding: 10px;
    height: auto;
    border: 3px solid #EEF5DB;
    font-size: 20px;
    color: #EEF5DB;
    border-radius: 12px;
}

p {
    width: 250px;
    display: inline-block;
    margin-left: 10px;
}

h3 {
    width: 350px;
    display: inline-block;
    margin-left: 10px;
}

.index-span {
    display: inline-block;
    width: 350px;
    text-align: center;
}

.index-signup,
.index-login {
    margin: auto;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 18px;
    color: #EEF5DB;
    border: 2px solid #EEF5DB;
    border-radius: 6px;
    background: #37392E;
    width: 120px;
}


/* Responsive deisgn */

.container-parent {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.container-parent::before,
.container-parent::after {
    display: table;
    content: '';
}

.container-parent::after {
    clear: both;
}

.col-1 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}


/* Non Mobile Grid */

@media only screen and (max-width: 640px) {
    .col-1 {
        width: auto;
        ;
    }
}