* {
    background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=962fdbcc8d5031658056ef47fded4b7b&auto=format&fit=crop&w=1650&q=80');
    background-size: cover;
}

header {
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
}

main {
    width: 420px;
    margin: 0 auto;
}

label {
    width: 150px;
    display: inline-block;
    margin-left: 10px;
    background: #37392E;
}

.login-form {
    margin: 10px;
    background: #37392E;
}

.span-login {
    display: inline-block;
    width: 282px;
    text-align: right;
    background: #37392E;
}

input[type=text],
input[type=password],
.login-login {
    background: #19647E;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 3px;
}

input[type=text],
input[type=password] {
    border: 2px solid #E56634;
}

.login-login {
    background: #37392E;
    text-align: center;
    margin-left: 40%;
    font-size: 25px;
}

fieldset {
    background: #37392E;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid #E56634;
}

.login-button,
.login-cancel {
    text-align: center;
    font-size: 18px;
    border: 2px solid #E56634;
    color: #FFFFFF;
    background: #19647E;
    border-radius: 12px;
    padding: 5px;
    width: 120px;
}

.login-cancel {
    margin-left: 10px;
}