* {
    /* background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=962fdbcc8d5031658056ef47fded4b7b&auto=format&fit=crop&w=1650&q=80'); */
    font-family: 'Unica One', cursive;
    background-color: #CCE3DE;
    /* background-size: cover; */
}

header {
    margin-top: 50px;
    text-align: center;
    color: #3d59528c;
}

main {
    width: 420px;
    margin: 0 auto;
}

label {
    width: 150px;
    display: inline-block;
    margin-left: 10px;
    background: #d6d2c7;
}

.login-form {
    margin: 10px;
    background: #d6d2c7;
}

.span-login {
    display: inline-block;
    width: 282px;
    text-align: right;
    background: #d6d2c7;
}

input[type=text],
input[type=password],
.login-login {
    background: #F2EFEA;
    color: #3d59528c;
    font-size: 18px;
    border-radius: 3px;
}

input[type=text],
input[type=password] {
    border: 2px solid #3d59528c;
}

.login-login {
    background: #d6d2c7;
    text-align: center;
    margin-left: 40%;
    font-size: 25px;
}

fieldset {
    background: #d6d2c7;
    color: #3d59528c;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid #3d59528c;
}

.login-button,
.login-cancel {
    text-align: center;
    font-size: 18px;
    border: 2px solid #3d59528c;
    color: #3d59528c;
    background: #F2EFEA;
    border-radius: 12px;
    padding: 5px;
    width: 120px;
    margin-top: 15px;
}

.login-cancel {
    margin-left: 10px;
}


/* Demo account */

.demo-account p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 15px;
    background: #F2EFEA;
}

.demo-pwd,
.demo-user {
    font-family: 'Quattrocento Sans', sans-serif;
    display: inline-block;
    float: right;
}