* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background: #1dd1a1;
}

h1,
h4 {
    text-align: center;
    color: #576574;
}

.container-parent-login {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
    font-size: 18px;
    color: #576574;
}

.login-button,
.login-cancel {
    margin: auto;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 18px;
    color: #576574;
    border: 2px solid #576574;
}

.login-button {
    margin-left: 30%;
    margin-right: 20px;
}

legend {
    color: #576574;
    font-size: 20px
}

.login-fieldset {
    width: 500px;
    color: #576574;
    border-color: #576574;
    border-style: solid;
}

label {
    padding-left: 10px;
    display: inline-block;
}

input[type=text] {
    color: #576574;
    font-size: 18px;
    border: 2px solid #576574;
}

input[type=password] {
    color: #576574;
    font-size: 18px;
    border: 2px solid #576574;
}

.login-username {
    margin-left: 22px;
}

.login-pwd {
    margin-left: 90px;
}


/* Responsive design */

.container-parent-login {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.container-parent-login::before,
.container-parent-login::after {
    display: table;
    content: '';
}

.container-parent-login::after {
    clear: both;
}

.login-fieldset {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}


/* Mobile Defaults */

.login-fieldset {
    width: 100%;
}


/* Non Mobile Grid */

@media only screen and (min-width: 640px) {
    .login-fieldset {
        width: auto;
    }
}